@page
@model Examen_certifiant_BLOC3C__Leveil_John.Areas.Offres.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Créer une offres</h1>

<h4>Offre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Offre.TypeOffre" class="control-label"></label>
                <input asp-for="Offre.TypeOffre" class="form-control" />
                <span asp-validation-for="Offre.TypeOffre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offre.Prix" class="control-label"></label>
                <input asp-for="Offre.Prix" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Offre.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offre.Description" class="control-label"></label>
                <textarea asp-for="Offre.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Offre.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
