@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié ?";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
            <h2>
                Entrer votre Email.
            </h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nom@exemple.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">
                    Réinitialiser le mot de passe
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
