@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<div class="container">
    <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
            <h1 class="mb-4">
                Créer un nouveau compte.
            </h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Nom">Nom</label>
                    <input asp-for="Input.Nom" class="form-control" autocomplete="username" aria-required="true" placeholder="Nom" />
                    <span asp-validation-for="Input.Nom" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Prenom">Prenom</label>
                    <input asp-for="Input.Prenom" class="form-control" autocomplete="username" aria-required="true" placeholder="Prénom" />
                    <span asp-validation-for="Input.Prenom" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nom@exemple.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password">Mot de passe</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword">Confirmation du mot de passe</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmation du mot de passe" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}