@page
@model Examen_certifiant_BLOC3C__Leveil_John.Areas.Paniers.Pages.IndexModel

@{
    ViewData["Title"] = "Panier";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Panier</h1>


@if (Model.Paniers != null)
{
        <table class="table">
            <thead>
                <tr>
                    <th>Type d'Offre</th>
                    <th>Quantité</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offre in Model.Paniers.OffresPanier)
                {
                    <tr>
                        <td>@offre.TypeOffre</td>
                        <td>@offre.Description</td>
                        <td>@offre.Prix</td>
                        <td> <button asp-page="./Delete" asp-route-id="@offre.ID">Supprimer</button> </td>
                    </tr>
                
            }
            </tbody>
        </table>
}
else
{
    <p>Le panier est vide.</p>
}
