@page
@model Examen_certifiant_BLOC3C__Leveil_John.Areas.Paniers.Pages.IndexModel

@{
    ViewData["Title"] = "Panier";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Panier</h1>


@if (Model.Panier != null && Model.Panier.Any())
{
    @foreach (var panier in Model.Panier)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Type d'Offre</th>
                    <th>Quantité</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offre in panier.OffresPanier)
                {
                    <tr>
                        <td>@offre.TypeOffre</td>
                        <td>@offre.Quantite</td>
                        <td>@offre.Description</td>
                        <td>@offre.Prix</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Le panier est vide.</p>
}
