@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid w-100 h-30" src="~/images/joparis.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-3">JEUX OLYMPIQUES DE PARIS 2024</h1>
                <p>Les Jeux Olympiques de Paris 2024 seront le plus grand événement jamais organisé en France. Ils se tiendront du 26 juillet au 11 août 2024, durant 16 jours hors du temps pendant lesquels Paris 2024 sera le cœur du monde. Les Jeux, c’est du sport, mais tellement plus encore… Une combinaison de rendez-vous culturels, de programmation artistique, et de performances diverses qui créent une expérience unique en son genre. Les Jeux, c’est un festival populaire et multiculturel qui s’adresse au monde entier. C’est une aventure qui va embarquer la France entière pour une expérience inédite.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-4">QUELQUES SPORTS OLYMPIQUES</h1>
                <div class="row">
                    <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="~/images/coureur.jpg" width="1500"> </div>
                    <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
                        <h2 class="my-3">ATHLÉTISME</h2>
                        <p class="lead">L’athlétisme est le sport le plus ancien dont nous avons des traces, puisqu’il apparaît dès les Jeux Olympiques de l’Antiquité. Il est possible de trouver les champions d’athlétisme depuis 776 avant J-C. A l’époque, les Jeux Olympiques antiques comprennent des épreuves telles que des courses à pied et un pentathlon composé d’épreuves s’apparentant à une course, un saut en longueur, un lancer de disque, de la lutte et un lancer de javelot. Les premiers rassemblements modernes pouvant s’apparenter à des compétitions d’athlétisme ont lieu en Angleterre en 1840, dans le Shropshire. Ces championnats se développent et se multiplient dans les années 1880, ils prennent place initialement en Angleterre, aux USA et en Europe notamment. En 1912, la fédération internationale gérant les compétitions internationales d’athlétisme, l’IAAF (aujourd’hui World Athletics), est créée.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-center order-2 order-md-1 py-4">
                        <h2 class="my-3"> <b>JUDO</b></h2>
                        <p class="lead">Le judo est un art martial, dérivé du jujitsu, créé au Japon par le Dr. Jigoro Kano lorsqu’il ouvre son premier dojo en 1882. Judo signifie en japonais « voie de la souplesse », mais ce sport de lutte traditionnel ne se limite pas à cela, et demande un investissement physique considérable. Jigoro Kano allie aux principes philosophiques du judo une rigueur physique, morale et intellectuelle, tout en retirant de son art les aspects jugés dangereux du jujitsu. Le judo s’exporte en Europe et notamment en France vers la moitié du 20e siècle, et devient le premier art martial à se démocratiser hors des frontières japonaises.</p>
                    </div>
                    <div class="col-lg-5 col-md-6 p-md-4 col-3 offset-lg-1 order-1 order-md-2"> <img class="img-fluid d-block" src="~/images/Judo.jpg" width="1500"> </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="~/images/Tir-a-larc.jpg" width="1500"> </div>
                    <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
                        <h2 class="my-3">TIR À L’ARC</h2>
                        <p class="lead">Le tir à l’arc est l’un des sports les plus anciens de l’humanité, puisqu’il s’est développé en même temps que la civilisation humaine, initialement en tant qu’instrument pour la chasse et la guerre. Dès 1200 avant J-C, Hitties et Assyriens se munissaient de flèches et d’arcs sur le champ de bataille. Les premiers tournois connus se déroulèrent en Chine, entre 1027 et 256 avant J-C sous la dynastie des Zhou. En 1931, le sport se structure au niveau international, et une fédération internationale est créée, devenue aujourd’hui World Archery.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
