@page
@model PrivacyModel
@{
    ViewData["Title"] = "A Propos";
}
<h1>@ViewData["Title"]</h1>

<h5>Bienvenue !</h5>

<p>La mission de ce site est l'achat de billet pour les Jeux Olympique 2024.</p>

<p>
    Notre Engagement envers la Confidentialité : 
    <br />
    Nous nous engageons à protéger votre vie privée et à sécuriser les informations que vous nous confiez. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous utilisez notre site web et les services associés.
</p>

<p>
Collecte et Utilisation des Informations
Nous collectons différentes informations lorsque vous utilisez notre site web, notamment :
</p>

<p>
Types de données collectées : par exemple, les données de navigation, les informations de compte utilisateur, etc. <br />
Méthodes de collecte des données : telles que les cookies, les formulaires de contact, etc. <br />
Buts pour lesquels nous utilisons ces données : comme la personnalisation de l'expérience utilisateur, la fourniture de services, etc.
</p>

<p>
Protection des Données : <br />
Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé, utilisation abusive ou divulgation.
</p>

<p>
Partage des Informations : <br />
Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement, sauf dans les cas prévus par la loi ou lorsque cela est nécessaire pour fournir nos services.
</p>

<p>
Vos Choix et Contrôles : <br />
    Vous avez le droit de contrôler vos informations personnelles et pouvez demander l'accès, la correction ou la suppression de vos données en nous contactant à adminjo2024@yopmail.com ou depuis la page Gérer votre compte/Données personnelles.
</p>

<p>
Modifications de la Politique de Confidentialité : <br />
Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Nous vous informerons des modifications importantes en affichant un avis sur notre site web ou en vous envoyant un e-mail.
</p>

<p>
Contactez-nous : <br />
    Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à adminjo2024@yopmail.com.
</p>

<p>
Date d'Entrée en Vigueur : <br />
Cette politique de confidentialité est entrée en vigueur le 21/03/2024.
</p>